.Display-items {
  max-width: $mx-width;
  margin: 9rem auto 0;

  @include flex(space-between);
  flex-wrap: wrap;

  .SingleItem {
    // border: 1px solid red;
    width: 47%;
    margin-bottom: 3rem;

    @include flex(space-between);

    align-items: center;
    background: $white;
    border-radius: 4px;

    img {
      width: 180px;
      height: 180px;
      object-fit: cover;
      //   border: 1px solid red;
    }

    .description-plate {
      // border: 1px solid blue;
      width: 50%;
      margin-left: 2rem;

      h3 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        text-transform: capitalize;
      }

      .description {
        font-weight: 300;
        font-size: 1rem;
      }

      .price {
        font-weight: bold;
        font-size: 1rem;
        color: rgb(67, 92, 53);
      }
    }

    .icons {
      // border: 1px solid red;
      display: flex;

      span {
        //   border: 1px solid blue;
        padding: 0.1rem 0.3rem;
        cursor: pointer;
        color: red;

        &:last-child {
          margin-left: 1rem;
          color: $green;
        }
      }
    }
  }
}
