.Content {
  //   border: 1px solid red;
  max-width: $mx-width;
  margin: 9rem auto 11rem;

  h1 {
    text-align: center;
    margin-bottom: 4rem;
    text-transform: capitalize;
    font-size: 2.4rem;
    //  color: #e6db14;
    color: $green;
    //  display: none;
  }

  .special-wrapper {
    @include flex(space-between);

    //  border: 1px solid blue;
    background: $white;
    border-radius: 3px;

    .special-img-wrapper {
      // border: 1px solid blue;
      img {
        width: 550px;
        height: 400px;
        object-fit: cover;
      }
    }

    .special-description {
      // border: 1px solid red;
      width: 45%;
      margin-left: 2rem;

      @include flex(center);
      flex-direction: column;

      h2 {
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        //   font-size: 1.4rem;
        font-size: 1.7rem;
      }

      span {
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
        color: $green;
        font-weight: bold;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}

.med-content {
  //   border: 1px solid red;
  height: 50vh;
  margin-bottom: 9rem;
  position: relative;

  @include bg-properties("../imgs/ex.jpg");
  z-index: 0;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: $bg-rgba;
    z-index: -1;
  }

  .med-content-inner {
    //  border: 1px solid blue;
    color: $white;
    max-width: $mx-width;
    margin: 0 auto;
    padding: 0 1rem;
    height: 100%;
    @include flex(center);
    flex-direction: column;

    h2 {
      margin-bottom: 1.5rem;
      text-transform: uppercase;
      // color: red;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }

    a {
      width: 100px;
      text-align: center;
      text-transform: uppercase;
      padding: 0.7em 1.3rem;
      font-size: 0.9rem;

      color: #333;
      text-transform: uppercase;
      background: $yellow;
      border-radius: 4px;
    }
  }
}

.lower-content {
  //   border: 1px solid red;
  max-width: $mx-width;
  margin: 9rem auto 11rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;

  h1 {
    text-align: center;
    margin-bottom: 6rem;
    text-transform: capitalize;
    font-size: 2.4rem;
    color: $green;
    //  display: none;
  }

  .lower-content-wrapper {
    @include flex(space-between);
    //  border: 1px solid red;
    background: $white;
    border-radius: 3px;

    .menu-imgs {
      position: relative;

      .Carausel {
        width: 550px;
        //   border: 1px solid red;

        img {
          width: 100%;
          //  border: 1px solid blue;
          height: 400px;
          object-fit: cover;
        }

        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.3);
        }
      }
    }

    .menu-description {
      @include flex(center);

      width: 45%;
      // border: 1px solid red;
      flex-direction: column;
      margin-left: 2rem;

      h2 {
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        font-size: 1.7rem;
      }

      span {
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: $green;
      }

      p {
        font-size: 1.2rem;
        //   font-weight: 300;
      }
    }
  }
}

.Map-content {
  //   border: 1px solid red;
  margin-top: 1rem;
  margin-bottom: 11rem;
  //   background: rgb(180, 177, 177);
  background: $white;

  padding: 1rem 0;

  position: relative;
  @include bg-properties("../imgs/example1.jpg");
  z-index: 10;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: $bg-rgba;
    z-index: -1;
  }

  h1 {
    text-align: center;
    margin-bottom: 4rem;
    text-transform: capitalize;
    font-size: 2.4rem;
    display: none;
  }

  .map-wrapper {
    max-width: $mx-width;
    margin: 0 auto;
    //  border: 1px solid blue;
    z-index: 100;

    .restaurant-map {
      @include flex(space-between);
      padding: 0 1rem;

      &:first-child {
        margin-bottom: 1.5rem;
      }

      .restaurant-desc {
        //   border: 1px solid blue;
        width: 40%;
        @include flex(center);
        flex-direction: column;

        h2 {
          font-size: 1.5rem;
          text-transform: uppercase;
          margin-bottom: 1.5rem;
          color: $white;
        }

        address {
          font-size: 1.1rem;
          a {
            margin-bottom: 1.5rem;
            // color: #e6db14;
            color: $white;
          }
          span {
            display: block;
            margin-bottom: 1.5rem;
            color: $white;
            font-weight: 300;
          }
        }
      }
      .map {
        //   border: 1px solid red;
        width: 55%;
        height: 300px;

        .GoogleMaps {
          width: 100%;

          .icon {
            color: red;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
