.Footer {
  background: $white;

  .footer-wrapper {
    max-width: $mx-width;
    margin: 0 auto;

    padding: 5rem 1rem 2rem;

    @media (max-width: $md-phone) {
      max-width: 900px;
    }

    @media (max-width: $xs-tablet) {
      width: 90%;
      padding: 3rem 0 2rem;
    }

    nav {
      // border: 1px solid blue;
      @include flex(space-between);
      margin-bottom: 3rem;

      .email,
      .facebook {
        text-transform: uppercase;
        font-size: 1.5rem;
        //   font-weight: bold;

        @media (max-width: $xs-tablet) {
          font-weight: 1.3rem;
        }

        a {
          display: block;
          text-transform: none;
          margin-top: 1rem;
          font-size: 1.1rem;
          color: $green;

          @media (max-width: $xs-tablet) {
            font-size: 1rem;
          }
        }
      }

      .facebook a {
        font-size: 1.5rem;
        color: #3b5998;
        color: $green;

        @media (max-width: $xs-tablet) {
          font-size: 1.3rem;
        }
      }
    }
    span {
      text-align: center;
      display: block;
      font-size: 0.9rem;
      text-transform: capitalize;
      font-weight: 300;

      @media (max-width: $xs-tablet) {
        font-size: 0.8rem;
      }
    }
  }
}
