.ForgotPassword {
  max-width: 500px;
  margin: 0rem auto;
  padding: 32rem 0;

  @media (max-width: $xs-tablet) {
    width: 350px;
    padding: 30rem 0;
  }

  form {
    font-size: 1.2rem;
    //  border: 1px solid blue;

    @media (max-width: $xs-tablet) {
      font-size: 1rem;
    }

    label {
      // border: 1px solid red;
      display: inline-block;
      position: relative;
      width: 100%;
      input {
        width: 100%;
        padding: 0.2rem 0.4rem;
        font-weight: 300;
      }

      .error {
        display: inline-block;
        //   border: 1px solid red;
        font-size: 0.9rem;
        position: absolute;
        top: 2.4rem;
        left: 0.3rem;
        text-transform: capitalize;
        color: red;

        @media (max-width: $xs-tablet) {
          font-size: 0.8rem;
        }
      }
    }

    button {
      @include buttons($yellow, #333);
      margin-top: 1.4rem;

      @media (max-width: $xs-tablet) {
        font-size: 0.9rem;
      }
    }

    // when login add class to btn
    .isLoading {
      background: lighten($yellow, 35%);
    }
  }
}

.ResetPassword {
  width: 500px;
  margin: 0 auto;
  padding: 27rem 0;

  @media (max-width: $xs-tablet) {
    width: 350px;
  }

  form {
    font-size: 1.2rem;

    @media (max-width: $xs-tablet) {
      font-size: 1rem;
    }

    label {
      // border: 1px solid red;
      display: inline-block;
      position: relative;
      width: 100%;
      input {
        width: 100%;
        padding: 0.2rem 0.4rem;
        font-weight: 300;
        margin-bottom: 1rem;
      }

      .error {
        display: inline-block;
        //   border: 1px solid red;
        font-size: 0.9rem;
        position: absolute;
        top: 2.4rem;
        left: 0.3rem;
        color: red;

        @media (max-width: $xs-tablet) {
          font-size: 0.8rem;
        }
      }
    }

    button {
      margin-top: 1rem;
      @include buttons($yellow, #333);

      @media (max-width: $xs-tablet) {
        font-size: 0.9rem;
      }
    }

    .isLoading {
      background: lighten($yellow, 35%);
    }
  }
}
