.ForgotPassword {
  //   border: 1px solid red;
  //   height: 80vh;

  max-width: 500px;
  //   height: 100vh;
  margin: 0rem auto;
  padding: 32rem 0;

  form {
    font-size: 1.2rem;
    //  border: 1px solid blue;

    label {
      // border: 1px solid red;
      display: inline-block;
      position: relative;
      width: 100%;
      input {
        width: 100%;
        padding: 0.2rem 0.4rem;
        font-weight: 300;
      }

      .error {
        display: inline-block;
        //   border: 1px solid red;
        font-size: 0.9rem;
        position: absolute;
        top: 2.4rem;
        left: 0.3rem;
        //   display: none;
        text-transform: capitalize;
        color: red;
      }
    }

    button {
      display: block;
      padding: 0.3rem 1.3rem;
      text-transform: uppercase;
      font-size: 1rem;
      background: none;
      background: rgb(67, 92, 53);
      margin-top: 1.4rem;
      color: white;
      background: #e6db14;
      color: #333;
      border-radius: 4px;
    }
    // when login add class to btn
    .isLoading {
      background: lighten(#e6db14, 35%);
    }
  }
}

.ResetPassword {
  border: 1px solid red;

  width: 500px;
  margin: 20rem auto;

  form {
    font-size: 1.2rem;

    label {
      // border: 1px solid red;
      display: inline-block;
      position: relative;
      width: 100%;
      input {
        width: 100%;
        padding: 0.2rem 0.4rem;
        font-weight: 300;
        margin-bottom: 1rem;
      }

      .error {
        display: inline-block;
        //   border: 1px solid red;
        font-size: 0.9rem;
        position: absolute;
        top: 2.3rem;
        left: 0.3rem;
        display: none;
      }
    }

    button {
      display: block;
      padding: 0.3rem 1.3rem;
      text-transform: uppercase;
      font-size: 1rem;
      background: none;
      border: 1px solid red;
      margin-top: 1rem;
    }
  }
}
