@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Raleway:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

// font-family: 'Lato', sans-serif;
// font-family: 'Raleway', sans-serif;

a {
  text-decoration: none;
  display: inline-block;
}

body {
  //   font-family: "Raleway", sans-serif;
  font-family: "Lato", sans-serif;
  background: #f4f4f4;
}

:-moz-any-link:focus {
  outline: none;
}

button {
  outline: none;
  border: none;
  display: inline-block;
}

span {
  display: inline-block;
}
