.Header {
  //   border: 1px solid red;
  height: 70vh;
  @include flex(center);

  align-items: center;
  position: relative;

  @include bg-properties("../imgs/tacos.jpg");
  background-position: bottom;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: $bg-rgba;
  }

  .inner-wrapper {
    max-width: $mx-width;
    margin: -7rem auto 0;
    color: $white;
    padding: 0 1rem;
    z-index: 10;
    color: $white;

    @media (max-width: $tablet) {
      max-width: 700px;
    }

    h1 {
      text-transform: uppercase;
      margin-bottom: 1rem;
      font-size: 3.4rem;
    }

    p {
      font-size: 1.3rem;
      margin-bottom: 1rem;
    }

    a {
      @include buttons($yellow, #333);
      padding: 0.7em 1.3rem;
    }
  }
}
