.Header {
  //   border: 1px solid red;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  //   background: rgba(0, 0, 0, 0.5);
  //   z-index: 10;
  background: url("../imgs/xavier-crook-wIqpmuOloVA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    //  background: rgba(0, 0, 0, 0.6);
    //  background: url("../imgs/xavier-crook-wIqpmuOloVA-unsplash.jpg");
    //  background-size: cover;
    //  background-position: center;
    //  background-repeat: no-repeat;
    background: rgba(0, 0, 0, 0.5);
    //  z-index: -1;
  }

  .inner-wrapper {
    max-width: 1200px;
    margin: -7rem auto 0;
    color: white;
    padding: 0 1rem;
    z-index: 10;

    @media (max-width: $tablet) {
      max-width: 700px;
    }

    h1 {
      text-transform: uppercase;
      margin-bottom: 1rem;
      font-size: 3.4rem;
      color: #f4f4f4;
    }

    p {
      font-size: 1.3rem;
      margin-bottom: 1rem;
      color: #f4f4f4;
    }

    a {
      // border: 1px solid red;
      padding: 0.7em 1.3rem;
      font-size: 1rem;
      // color: #435c35;
      color: #333;
      text-transform: uppercase;
      background: #e6db14;
      border-radius: 4px;
    }
  }
}
