.MenuPage {
  header {
    //  border: 1px solid red;
    height: 30vh;

    @include flex(center);
    align-items: center;
    position: relative;

    @include bg-properties("../imgs/cooked-food-on-blue-plate-2092507.jpg");

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      content: "";
      background: $bg-rgba;
    }

    h1 {
      color: $white;
      text-transform: uppercase;
      font-size: 2.3rem;
      z-index: 10;
    }
  }

  .MenuPage-section {
    max-width: $mx-width;
    margin: 9rem auto;
    //  border: 1px solid red;
    padding: 0 1rem;

    .menu-btns {
      @include flex(space-between);

      a {
        @include buttons($green, $white);

        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        text-transform: capitalize;
      }

      .active-m {
        background: $yellow;
        color: #333;
      }
    }
  }

  .Display-items {
    @include flex(space-between);

    flex-wrap: wrap;
    margin-top: 9rem;
    .SingleItem {
      // border: 1px solid red;
      width: 47%;
      margin-bottom: 3rem;

      @include flex(space-between);

      align-items: center;
      background: $white;
      border-radius: 4px;

      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        //   border: 1px solid red;
      }

      .description-plate {
        //   border: 1px solid blue;
        width: 50%;
        margin-left: 2rem;

        h3 {
          font-size: 1.2rem;
          margin-bottom: 1rem;
          text-transform: capitalize;
        }

        .description {
          font-weight: 300;
          font-size: 1rem;
        }

        .price {
          font-weight: bold;
          font-size: 1.1rem;
          color: $green;
        }
      }
    }
  }
}
